.certs {
    &__group {
        & span {
            font-weight: 700;
            display: inline-block;

            &::after{
                content: ":"
            }

            &:hover ~ li {
                background-color: $color-primary;
                color: $color-white;
            }

        }

        & li{
            display: inline;
            float: center;
            font-weight: 400;
            transition: all 0.2s ease-in-out;
            margin: 0 10px 0 0;
            padding: 0 1px;
            border-radius: 10px;

            &:hover {
                background-color: $color-background;
                color: $color-white;
            }
            & a{
                color: $color-primary;
            }
        }
    }
}
